# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
*.tlog
*.pdb
Pointfall/Release/glut32.dll
*.log
*.exe
Pointfall/Release/kissFramework.lib
*.idb
Pointfall/Debug/kissFramework.lib
Pointfall/Debug/glut32.dll
Pointfall/Lib/assimpd.lib
Pointfall/Lib/assimp.lib
*.opensdf
*.sdf
*.suo
*.user
*.vspx
